<h1>Hello Welcome to My microBlog</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<h1>Posts</h1>

Our blog has <%= Post.public_count %> articles and counting!
<ul>
  <% @posts.each do |post| %>
  <% unless post.archived? %>
    <li>
    <%= link_to post.title, post %>
    </li>
  <% end %>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>